.cell {
  border-top: 1px solid var(--border-bgc);
  border-left: 1px solid var(--border-bgc);
  background-color: white;
}

.cell-mark {
  composes: cell;
  background-color: black;
}

.cell:last-child {
  border-right: 1px solid var(--border-bgc);
}

.cell_5_mark {
  composes: cell-mark;
  width: var(--size-5);
  height: var(--size-5);
}

.cell_5 {
  composes: cell;
  width: var(--size-5);
  height: var(--size-5);
}
