.slider-body {
  margin-top: 15px;
  width: var(--width-render-board);
  height: 110px;
  padding-top: 15px;
  display: flex;
  justify-content: row;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}