.cell_all {
  border-top: 1px solid var(--border-bgc);
  border-left: 1px solid var(--border-bgc);
  background-color: white;
  cursor: pointer;
}

.cell-mark {
  composes: cell_all;
  background-color: black;
}

.cell:last-child {
  border-right: 1px solid var(--border-bgc);
}

.cell_mark {
  composes: cell-mark;
  width: var(--size-3);
  height: var(--size-3);
}

.cell {
  composes: cell_all;
  width: var(--size-3);
  height: var(--size-3);
}