:root {
  --size-10: 10px;
  --size-3: 3px;
  --border-bgc: lightgrey;
  --width-render-board: 1272px;
  --height-render-board: 450px;
  --width-preview-board: 93px;
  --height-preview-board: 48px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}